
article{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

footer{
  background-color: #ff7997;
  height:50px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

footer .icons{
  color: #ffffff;
  padding: 0.9rem;
  font-size: 1.5rem;
  line-height: 20px;
  width: 90%;
  margin: 0 auto;
}

footer .icon{
    display: inline-block;
    margin: 0 3rem;
}

.love-num,.com-num{
  font-size: 1.4rem;
  font-weight: 200;
}

@media screen and (min-width:768px) {
  article{
    width: 80%;
  }
  footer .icons{
    width: 70%;
  }

  footer .icon{
      margin: 0 11rem;
  }
}

@media screen and (max-width:350px) {
  footer .icon{
      margin: 0 2.5rem;
  }
}
