<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>contribute</title>
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/contribute.css">
    <link rel="stylesheet" href="lib/github-markdown.css">
</head>

<body>
    <div class="mask popup">
        <div class="popup-content">
            <p>*^_^* 投稿成功</p>
        </div>
    </div>
    <nav>
        <div class="qq">
            <img src="http://7xkpdt.com1.z0.glb.clouddn.com/15-10-10/69208466.jpg" alt="QQ" />
            <p>QQ登录</p>
        </div>

    </nav>
    <div class="head">
        <div class="head-content">
            <h1>植物图鉴</h1>
            <p>我们帮您记录，每一片叶的脉络，每一朵花瓣的弧度</p>
            <p>我们帮您记忆，四季摇落的点点缤纷</p>
        </div>
    </div>
    <div class="container">
        <div class="content">
            <div class="part">
                <h2>美景列表</h2>
                <p>
                    美景列表将列出投稿已通过和未通过的美景， 您可以点击列表项查看别人已通过的美景介绍。 或者在您的投稿未通过时对美景进行修改。
                </p>
            </div>
            <div class="part">
                <h2>投稿</h2>
                <p>
                    将您喜欢的美景记录下来吧!
                    <br/> 在这里编辑，将您喜欢的美景投稿给我们，
                    <br/> 四季变换，时光流转，您心底的美丽依然在这里。
                </p>
            </div>
            <div class="part">
                <h2>预览</h2>
                <p>
                    编辑的同时可以在这里看到呈现出来的最终效果。
                </p>
            </div>
        </div>
        <div class="content">
            <hr class="divide">
            <div class="part scene-list" id="list">
                <p class="approve">未通过</p>
                <div class="admitted-list" v-on="click: changeEditedScene(item)" v-repeat="item in items">
                    <h3>{{item.title}}</h3>
                    <span class="by">by:</span>
                    <p>{{item.author}}</p>
                    <p class="yue">{{item.month}}</p>
                    <span>月</span>
                    <p class="season">{{item.season}}</p>
                </div>

                <p class="disapprove">已通过</p>
                <div class="unadmitted-list" v-repeat="item in items" v-on="click: clickList(item)">
                    <h3>{{item.title}}</h3>
                    <span class="by">by:</span>
                    <p>{{item.author}}</p>
                    <p class="yue">{{item.month}}</p>
                    <span>月</span>
                    <p class="season">{{item.season}}</p>
                </div>
            </div>
            <form class="part contribute-content" action="" method="post" id="article">
                <div class="write">
                    <label for="">地点：</label>
                    <input type="text" name="location" v-model="location" id="location" oninput="this.inputLocation.update()">
                </div>

                <div class="write">
                    <label for="">月份：</label>
                    <input type="text" name="month" placeholder="3" v-model="month" id="month" oninput="this.inputMonth.update()">
                    <span>月</span>
                </div>
                <input type="button" name="name" value="上传图片">
                <div class="scene-article">
                    <div class="article" id="check">
                        <input type="text" name="title" id="title" oninput="this.inputTitle.update()" placeholder="请输入美景标题" v-model="title">
                        <textarea name="scene" rows="20" id="article-input" oninput="this.editor.update()" v-model="article" placeholder="这里采用markdown的编辑模式，换行请打2个回车"></textarea>
                    </div>
                </div>
                <button type="button" name="button" v-on="click: contribute" id="btn">投稿</button>
            </form>
            <div class="part preview">
                <p class="warn">预览</p>
                <div class="preview-border">
                    <div class="markdown-body">
                        <span id="preview-location"></span>
                        <span id="preview-month"></span>
                    </div>
                    <div class="markdown-body" id="preview-title"></div>

                    <div class="markdown-body" id="preview-article"></div>
                </div>


            </div>

        </div>
    </div>
    </div>
    <!-- lib -->
    <script src="https://cdn.bootcss.com/vue/0.12.16/vue.min.js"></script>
    <script src="https://dn-cdnjscn.qbox.me/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://dn-cdnjscn.qbox.me/ajax/libs/markdown.js/0.5.0/markdown.min.js"></script>
    <!-- util -->
    <script src="js/util/mdUtil.js" charset="utf-8"></script>
    <!-- myjs -->
    <script src="js/md-preview.js"></script>
    <script src="js/contribute.js"></script>
    <script src="js/click-scroll.js"></script>
</body>

</html>
