body{
    font-size: 1rem;
}

.main-container{
    width: 98%;
    margin: .5rem auto;
}

#comment-list{
    margin-top: .4rem;
    border-bottom: 1px solid #4ace63;
}

.commentator-info{
    position: relative;
}

.avatar{
    width: 11%;
    height: 11%;
    border-radius: 50%;
}

.commentator{
    position: absolute;
    font-size: .9rem;
    top: 20%;
    left: 12%;
}

.comment-date, .comment-time{
    font-size: .9rem;
    color: #a5a5a5;
    position: absolute;
    top: .3rem;
}

.comment-date{
    right: 3rem;
}

.comment-time{
    right: .3rem;
}

.comment-words{
    margin-left: 11%;
    margin-bottom: .5rem;
}

footer{
    width: 100%;
    height: 2.8rem;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #eee;
}

#comment-area{
    width: 100%;
    margin: .5rem auto;
}

.input-comment{
    font-size: 1rem;
    width: 75%;
    height: 1.5rem;
    margin: 0 2% 0 3%;
}

.input-comment:hover{
    border-color: #4ace63;
}

.send-comment-btn{
    background-color: #4ace63;
    color: #fff;
    width: 15%;
    height: 1.8rem;
    line-height: 1.5rem;
    font-size: .9rem;
    font-weight: 500;
    border-radius: 3px;
}
